@page
@model EscuelaSystem.Web.Pages.AlumnosModel
@{
}

<h1>Listado de Alumnos </h1>
<a asp-page="/InscribirAlumno">Incribir Alumno</a>
<br />
<br />
<table class="table table-dark table-striped ">
    <thead>
        <tr>
            <th>Id</th>
            <th>Carnet</th>
            <th>Nombre</th>
            <th>Virtual</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.Alumnos)
        {
        <tr>
            <td>@item.id</td>
            <td>@item.Carnet</td>
            <td>@item.Nombre</td>
            <td>
                @if (item.Virtual)
                {
                    <p>SI</p>
                }
                else
                {
                    <p>NO</p>
                }
            </td>
            <td>
                <a class="btn btn-outline-light" asp-area="" asp-page="/EditarAlumno" asp-route-id="@item.id">Editar</a>
                <a class="btn btn-outline-light" asp-area="" asp-page="/EliminarAlumno" asp-route-id="@item.id">Eliminar</a>
            </td>
        </tr>

        }

    </tbody>
</table>